<h1 class="p-3">Stupid Coaching</h1>
<div class="d-inline-flex">
  <form method="get" action="answer" data-turbo="false" class="col-12">
    <input type="text" name="question">
    <input type="submit" value="Ask!" class="btn btn-primary">
  </form>
</div>
